<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>Snow</title>
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/pure-min.css">
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/grids-responsive-min.css">
    <!--<link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/blog.css">-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">-->
    <link rel="stylesheet" href="{% static 'css/code.css' %}">
    <style type="text/css">.sideleft{float: left;width: 75%;padding-left: 20px;}
                           .sideright{float: right;width: 20%;padding-left: 20px;padding-right: 20px}
                           .introduction{position: relative;left: 0;right: 0px;padding: 0px;height: 500px;background-color: white;width: 100%;text-align: center;font-family: 'country_gothic', Arial, Helvetica, Simsun, STHeiti;}
                           .ab{position: relative;padding-top: 60px;height: 100px;color: black;font-size: 20px;text-align: center;}
                           .gakki{padding-top: 5px;}
                           .slogan{padding-top: 10px;font-family:'country_gothic';font-size: 25px;color: skyblue;}
                           .changeline{word-wrap:break-word;overflow:hidden;padding-top: 20px;line-height: 25px;font-family: italic;color: pink}
    </style>
</head>
<body>
<div id="layout" class="pure-g">
    <div class="pure-u-1-4">
        <div class="sidebar">
        <!--
        <img src="/static/image/gakki.jpg" title="gakki" alt="gakki" style="max-width:100%;">
        <div class="box" style="text-align: center;font-size: 20px;"><font color="pink">gakki即是正义</font></div>
        -->
            <div class="header" >
            <!--<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>-->
           <!-- <embed src="static/music/72xb.mp3" width="0" height="0" autostart="true" >-->
            <img src="/static/image/moon.png" style="width: 100%">
                <h1 class="brand-title" align="center" style="font-family:arial;"><a href="{% url "home" %}">Blog</a></h1>
                <h2 class="brand-tagline" align="center"><font color="pink">--</font></h2>
                <nav class="nav">
                    <ul class="nav-list">
                    <!-- <li class="nav-item">
                        <a class="pure-button" href="https://github.com/SnowWu">Github</a>
                    </li>-->
                    </ul>
                </nav>
                <div style="position: absolute;bottom: 50px">
                    <audio autoplay="autoplay" loop="ture">
                        <source src="song.ogg" type="audio/ogg">
                        <source src="static/music/72xb.mp3" type="audio/mp3">
                    </audio>
                </div>
            </div>
        </div>      
    </div>

    <div class="pure-u-3-4">
        <div class="sideleft">
            {% block content %}
            {% endblock %}
            <div class="footer">
                <!--<div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://andrewliu.tk/about/">About Me</a></li>
                        <li><a href="https://github.com/SnowWu">GitHub</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="sideright">
            <div class="introduction">
                <div class="ab">About</div>
                <div class="gakki">
                    <img src="/static/image/gakkismile.jpg" width="100%">
                </div>
                <div class="slogan">Snow</div>
                <div class="changeline">
                喜欢足球</br>喜欢骑行</br>喜欢跑步</br>喜欢挑战</br>喜欢一切美好的事物</br>gakki即是正义
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="//cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script >hljs.initHighlightingOnLoad();</script>-->
</body>
</html>