{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ post.date_time }}</a> <a class="post-category post-category-js" href="#">{{ post.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown|truncatewords:3 }}
                    </p>
                </div>
                <a class="pure-button" href="{% url "detail" id=post.id %}" style="color: skyblue">more >>> </a>
                <br><br>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" width="30%" align="left"  />
                <!--<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" align="left" width="30%" color=#987cb9 SIZE=3>-->
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}